$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$black:    #000 !default;
$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;
$primary:       $blue !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-500 !default;
$dark:          $gray-800 !default;
$body-bg:                   $gray-900 !default;
$body-color:                $white !default;
$link-color:                $success !default;
$link-hover-color:          darken($link-color, 15%) !default;
$border-width:                1px !default;
$border-color:                $gray-300 !default;
$component-active-color:      $white !default;
$component-active-bg:         $primary !default;
$font-size-base:              0.9375rem !default;
$h1-font-size:                3rem !default;
$h2-font-size:                2.5rem !default;
$h3-font-size:                2rem !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$headings-color:              inherit !default;
$input-bg:                              $white !default;
$input-color:                           $gray-700 !default;
$input-border-color:                $body-bg !default;
$input-group-addon-bg:                  $gray-700 !default;
$navbar-dark-color:                rgba($white, .6) !default;
$navbar-dark-hover-color:          $white !default;
$navbar-dark-active-color:          #fff !default;
$navbar-light-color:                rgba($gray-900, .7) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$pagination-bg:                     $success !default;
$pagination-hover-bg:               lighten($success, 10%) !default;
$pagination-color:                  $white !default;
$card-border-color:                 rgba(0, 0, 0, .125) !default;
$card-cap-bg:                       $gray-700 !default;
$card-bg:                           $gray-800 !default;
$list-group-bg:                     #303030 !default;
$list-group-border-color:           #444 !default;
$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $gray-700 !default;
$modal-header-border-color:         $gray-700 !default;
$close-color:                       $white !default;
$breadcrumb-bg:                     $gray-700 !default;
$dropdown-bg:                       $gray-900 !default;
$dropdown-link-color:               $white !default;

