$white:    #fff !default;
$gray-100: #FDF6E3 !default;
$gray-200: #EEE8D5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #839496 !default;
$gray-700: #495057 !default;
$gray-800: #073642 !default;
$gray-900: #002B36 !default;
$black:    #000 !default;
$blue:    #B58900 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #D33682 !default;
$orange:  #fd7e14 !default;
$yellow:  #CB4B16 !default;
$green:   #2AA198 !default;
$teal:    #20c997 !default;
$cyan:    #268BD2 !default;
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$body-bg:                   $gray-900 !default;
$body-color:                $gray-600 !default;
$link-color:                $success !default;
$link-hover-color:          darken($link-color, 0%) !default;
$border-width:                2px !default;
$border-color:                $gray-300 !default;
$component-active-color:      $white !default;
$component-active-bg:         $gray-800 !default;
$font-size-base: 1rem !default;
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$headings-color:              inherit !default;
$input-bg:                              $gray-600 !default;
$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-900 !default;
$input-group-addon-bg:                  $gray-800 !default;
$navbar-dark-color:                 rgba(255, 255, 255, .5) !default;
$navbar-dark-hover-color:           rgba(255, 255, 255, .75) !default;
$navbar-dark-active-color:          #fff !default;
$navbar-light-color:                rgba(0, 0, 0,.4) !default !default;
$navbar-light-hover-color:          rgba(0, 0, 0, .7) !default;
$navbar-light-active-color:         rgba(0, 0, 0,.7) !default !default;
$pagination-bg:                     $gray-900 !default;
$pagination-hover-bg:               $gray-800 !default;
$pagination-color:                  $green !default;
$card-border-color:                 rgba(0, 43, 54, .95) !default;
$card-cap-bg:                       rgba(7, 54, 66, .25) !default;
$card-bg:                           rgba(238, 232, 213, .125) !default;
$list-group-bg:                     rgba(0, 0, 0, 0) !default;
$list-group-border-color:           #073642 !default;
$modal-content-bg:                  #073642 !default;
$modal-content-border-color:        #002B36 !default;
$modal-header-border-color:         #e9ecef !default;
$close-color:                       $gray-600 !default;
$breadcrumb-bg:                     $gray-800 !default;
$dropdown-bg:                       $gray-800 !default;
$dropdown-link-color:               $gray-600 !default;
