$white:    #fff !default;
$gray-100: #fdf6e3 !default;
$gray-200: #eee8d5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #839496 !default;
$gray-700: #495057 !default;
$gray-800: #073642 !default;
$gray-900: #002b36 !default;
$black:    #000 !default;
$blue:    #b58900 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d33682 !default;
$orange:  #fd7e14 !default;
$yellow:  #cb4b16 !default;
$green:   #2aa198 !default;
$teal:    #20c997 !default;
$cyan:    #268bd2 !default;
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;
$body-bg:                   $gray-900 !default;
$body-color:                $gray-600 !default;
$link-color:                $success !default;
$link-hover-color:          $link-color !default;
$border-width:                1px !default;
$border-color:                $gray-300 !default;
$component-active-color:      rgba(255, 255, 255, .75) !default;
$component-active-bg:         $gray-800 !default;
$font-size-base: 1rem !default;
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$headings-color:              inherit !default;
$input-bg:                              $gray-600 !default;
$input-color:                           $gray-700 !default;
$input-border-color:                    rgba($black, .15) !default;
$input-group-addon-bg:                  $gray-800 !default;
$navbar-dark-color:                 rgba(255, 255, 255, .5) !default;
$navbar-dark-hover-color:           rgba(255, 255, 255, .75) !default;
$navbar-dark-active-color:          #fff !default;
$navbar-light-color:                rgba($black, .4) !default !default;
$navbar-light-hover-color:          rgba(0, 0, 0, .7) !default;
$navbar-light-active-color:         rgba($black, .7) !default !default;
$pagination-bg:                     transparent !default;
$pagination-hover-bg:               $gray-800 !default;
$pagination-color:                  $green !default;
$card-border-color:                 rgba($gray-900, .95) !default;
$card-cap-bg:                       rgba($gray-800, .25) !default;
$card-bg:                           rgba($gray-200, .125) !default;
$list-group-bg:                     transparent !default;
$list-group-border-color:           $gray-800 !default;
$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $body-bg !default;
$modal-header-border-color:         $body-bg !default;
$close-color:                       $body-color !default;
$breadcrumb-bg:                     $component-active-bg !default;
$dropdown-bg:                       $gray-800 !default;
$dropdown-link-color:               $gray-600 !default;
