$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #999 !default;
$gray-600: #7A8288 !default;
$gray-700: #52575C !default;
$gray-800: #30353b !default;
$gray-900: #272B30 !default;
$black:    #000 !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ee5f5b !default;
$orange:  #fd7e14 !default;
$yellow:  #f89406 !default;
$green:   #62c462 !default;
$teal:    #20c997 !default;
$cyan:    #5bc0de !default;
$primary:       $gray-800 !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;
$body-bg:                   $gray-900 !default;
$body-color:                $gray-500 !default;
$link-color:                $white !default;
$link-hover-color:          darken($link-color, 15%) !default;
$border-width:                2px !default;
$border-color:                $gray-300 !default;
$component-active-color:      $white !default;
$component-active-bg:         $primary !default;
$font-size-base:              0.9375rem !default;
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$headings-color:              inherit !default;
$input-bg:                              $white !default;
$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-group-addon-bg:                  $gray-200 !default;
$navbar-dark-color:                 rgba(255, 255, 255, .5) !default;
$navbar-dark-hover-color:           #fff !default;
$navbar-dark-active-color:          #fff !default;
$navbar-light-color:                rgba(0, 0, 0, .5) !default;
$navbar-light-hover-color:          #30353b !default;
$navbar-light-active-color:         #30353b !default;
$pagination-bg:                     $gray-900 !default;
$pagination-hover-bg:               $gray-900 !default;
$pagination-color:                  $white !default;
$card-border-color:                 rgba(0, 0, 0, 0.6) !default;
$card-cap-bg:                       #424851 !default;
$card-bg:                           #30353b !default;
$list-group-bg:                     #30353b !default;
$list-group-border-color:           rgba(0, 0, 0, 0.6) !default;
$modal-content-bg:                  #30353b !default;
$modal-content-border-color:        rgba(0, 0, 0, .2) !default;
$modal-header-border-color:         #e9ecef !default;
$close-color:                       $black !default;
$breadcrumb-bg:                     $gray-800 !default;
$dropdown-bg:                       $gray-800 !default;
$dropdown-link-color:               $body-color !default;
