$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000 !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #4bbf73 !default;
$teal:    #20c997 !default;
$cyan:    #1f9bcf !default;
$primary:       $gray-900 !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-800 !default;
$body-bg:                   $white !default;
$body-color:                $gray-700 !default;
$link-color:                $primary !default;
$link-hover-color:          darken($link-color, 15%) !default;
$border-width:                1px !default;
$border-color:                $gray-300 !default;
$component-active-color:      $white !default;
$component-active-bg:         $primary !default;
$font-size-base:              0.875rem !default;
$h1-font-size:                2rem !default;
$h2-font-size:                1.75rem !default;
$h3-font-size:                1.5rem !default;
$h4-font-size:                1.25rem !default;
$h5-font-size:                1rem !default;
$headings-color:              $gray-900 !default;
$input-bg:                              $gray-200 !default;
$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-group-addon-bg:                  $gray-300 !default;
$navbar-dark-color:                 rgba(255, 255, 255, .5) !default;
$navbar-dark-hover-color:           $white !default;
$navbar-dark-active-color:          #fff !default;
$navbar-light-color:                rgba($black, .3) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$pagination-bg:                     $white !default;
$pagination-hover-bg:               $gray-200 !default;
$pagination-color:                  $blue !default;
$card-border-color:                 rgba(0, 0, 0, .125) !default;
$card-cap-bg:                       rgba(0, 0, 0, .03) !default;
$card-bg:                           #fff !default;
$list-group-bg:                     #fff !default;
$list-group-border-color:           rgba(0, 0, 0, .125) !default;
$modal-content-bg:                  #fff !default;
$modal-content-border-color:        rgba(0, 0, 0, .2) !default;
$modal-header-border-color:         #e9ecef !default;
$close-color:                       $black !default;
$breadcrumb-bg:                     $white !default;
$dropdown-bg:                       $white !default;
$dropdown-link-color:               $gray-900 !default;
