$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #F8F5F0 !default;
$gray-300: #DFD7CA !default;
$gray-400: #ced4da !default;
$gray-500: #98978B !default;
$gray-600: #8E8C84 !default;
$gray-700: #495057 !default;
$gray-800: #3E3F3A !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$blue:    #325D88 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #F47C3C !default;
$yellow:  #ffc107 !default;
$green:   #93C54B !default;
$teal:    #20c997 !default;
$cyan:    #29ABE0 !default;
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;
$body-bg:                   $white !default;
$body-color:                $gray-800 !default;
$link-color:                $success !default;
$link-hover-color:          darken($link-color, 15%) !default;
$border-width:                2px !default;
$border-color:                $gray-300 !default;
$component-active-color:      $white !default;
$component-active-bg:         $primary !default;
$font-size-base:              0.875rem !default;
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$headings-color:              inherit !default;
$input-bg:                              $white !default;
$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-group-addon-bg:                  $gray-200 !default;
$navbar-dark-color:           #fff !default;
$navbar-dark-hover-color:           rgba(255, 255, 255, .75) !default;
$navbar-dark-active-color:          #fff !default;
$navbar-light-color:                rgba(0, 0, 0, .5) !default;
$navbar-light-hover-color:          #000 !default;
$navbar-light-active-color:         #000 !default;
$pagination-bg:                     $gray-200 !default;
$pagination-hover-bg:               $gray-200 !default;
$pagination-color:                  $gray-600 !default;
$card-border-color:                 rgba(223, 215, 202, .75) !default;
$card-cap-bg:                       rgba(248, 245, 240, .25) !default;
$card-bg:                           #fff !default;
$list-group-bg:                     #fff !default;
$list-group-border-color:           #DFD7CA !default;
$modal-content-bg:                  #fff !default;
$modal-content-border-color:        #DFD7CA !default;
$modal-header-border-color:         #e9ecef !default;
$close-color:                       $black !default;
$breadcrumb-bg:                     $gray-200 !default;
$dropdown-bg:                       $white !default;
$dropdown-link-color:               $gray-900 !default;
