$white:    #fff !default;
$gray-100: #fafafa !default;
$gray-200: #F9F8FC !default;
$gray-300: #EDEDED !default;
$gray-400: #cbc8d0 !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #444 !default;
$gray-800: #343a40 !default;
$gray-900: #17141F !default;
$black:    #000 !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #593196 !default;
$pink:    #e83e8c !default;
$red:     #FC3939 !default;
$orange:  #fd7e14 !default;
$yellow:  #EFA31D !default;
$green:   #13B955 !default;
$teal:    #20c997 !default;
$cyan:    #009CDC !default;
$primary:       $indigo !default;
$secondary:     $purple !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;
$body-bg:                   $white !default;
$body-color:                $gray-700 !default;
$link-color:                $primary !default;
$link-hover-color:          darken($link-color, 15%) !default;
$border-width:                2px !default;
$border-color:                $gray-300 !default;
$component-active-color:      $white !default;
$component-active-bg:         $primary !default;
$font-size-base:              0.875rem !default;
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$headings-color:              inherit !default;
$input-bg:                              $white !default;
$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-group-addon-bg:                  $gray-200 !default;
$navbar-dark-color:                 rgba(255, 255, 255, .5) !default;
$navbar-dark-hover-color:           rgba(255, 255, 255,.9) !default;
$navbar-dark-active-color:          rgba(255, 255, 255,.9) !default;
$navbar-light-color:                rgba(0, 0, 0,.4) !default;
$navbar-light-hover-color:          rgba(0, 0, 0, .7) !default;
$navbar-light-active-color:         rgba(0, 0, 0,.7) !default;
$pagination-bg:                     $white !default;
$pagination-hover-bg:               $gray-200 !default;
$pagination-color:                  $primary !default;
$card-border-color:                 rgba(0, 0, 0, .125) !default;
$card-cap-bg:                       rgba(0, 0, 0, .03) !default;
$card-bg:                           #fff !default;
$list-group-bg:                     #17141F !default;
$list-group-border-color:           rgba(0, 0, 0, 0) !default;
$modal-content-bg:                  #fff !default;
$modal-content-border-color:        rgba(0, 0, 0, .2) !default;
$modal-header-border-color:         #e9ecef !default;
$close-color:                       $black !default;
$breadcrumb-bg:                     $gray-200 !default;
$dropdown-bg:                       $white !default;
$dropdown-link-color:               $gray-700 !default;

