// Cosmo 4.3.1
// Bootswatch


// Variables ===================================================================


// Navbar ======================================================================

// Buttons =====================================================================

// Typography ==================================================================


// Tables ======================================================================

// Forms =======================================================================

// Navs ========================================================================

// Indicators ==================================================================

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers ==================================================================
