$border-radius:  255px 15px 225px / 15px 225px 15px 255px !default;
$border-radius-lg:  255px 15px 225px / 15px 225px 15px 255px !default;
$border-radius-sm:  255px 15px 225px / 15px 225px 15px 255px !default;
.card .list-group{border:0;border-radius:0;}